<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Let's play madlibs!!!</h1>

<form action="/madlib">
  Give me a person: <input type="text" name="person">
  <br>
  Give me a color: 
  <select name="color">
    <option value="red">Red</option>
    <option value="orange">Orange</option>
    <option value="blue">Blue</option>
    <option value="fucia">Fucia</option>
  </select>  
  <br>
  Give me a noun: <input type="text" name="noun">
  <br>
  Give me a adjective(s): 
    <input type="checkbox" name="adjective" value="strong">Strong
    <input type="checkbox" name="adjective" value="colorful">Colorful
    <input type="checkbox" name="adjective" value="stupid">Stupid
    <input type="checkbox" name="adjective" value="tall">Tall
  <br>
  <input type="submit" value="Let's Play!">
</form>

</body>
</html>
