{% extends "base.html" %}

{% block title %} Madlib Game {% endblock %}

{% block content %}

<h2>Let's play madlibs!!!</h2>
<p>
<form action="/madlib">
  Give me a person: <input type="text" name="person">
  <br>
  Give me a color: 
  <select name="color">
    <option value="red">Red</option>
    <option value="orange">Orange</option>
    <option value="blue">Blue</option>
    <option value="fucia">Fucia</option>
  </select>  
  <br>
  Give me a noun: <input type="text" name="noun">
  <br>
  Pick <font size= "+2"> <b> two </b></font> adjectives: 
    <input type="checkbox" name="adjective" value="strong">Strong
    <input type="checkbox" name="adjective" value="colorful">Colorful
    <input type="checkbox" name="adjective" value="stupid">Stupid
    <input type="checkbox" name="adjective" value="tall">Tall
  <br>
  <input type="submit" value="Let's Play!">
</form>
</p>
{% endblock %}